<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    你将得到一个字符串和两个标记（初始标记和最终标记）。你必须在这两个标记之间找到一个子串。但是有几个重要的条件。
</p>

<ul>
	<li>初始标记和最终标记总是不同的。</li>
	<li>初始标记和最终标记总是1个字符大小。</li>
	<li>初始标记和最终标记总是存在于一个字符串中，并且是一个接一个的。</li>
</ul>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}between-markers.png" alt="example" style="max-height: 200px"/>
</p>
<p>
   <strong>输入：</strong>三个参数。它们都是字符串{% if is_js %}<span>(string)</span> {% else %} <span>(str)</span> {% endif %} 。第二个和第三个参数是初始和最终标记。
</p>

<p>
   <strong>输出：</strong>一个字符串{% if is_js %}<span>(string)</span> {% else %} <span>(str)</span> {% endif %} 。 
</p>



<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>它是如何被使用的：</strong>
    <i>用于文本解析。</i>
</p>

<p>
    <strong>前提条件：</strong>
    <i>不能有多于一个最终标记和一个初始标记。</i>
</p>
